data/
__pycache__/
*.pyc
.vscode/settings.json
.idea/deepCloud.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
Code Add On.txt
prueba.csv
reports/cmv_error.csv
runs/fashion_mnist_experiment_1/events.out.tfevents.1622560447.LAPTOP-999G7J0E.14640.0
runs/
nb-andres.ipynb
checkpoints/
exp_gan_a[a-z]*.py
pytorch_modelsize
nb-models-study.ipynb
nb-cloud-cast.ipynb
CloudCast/

probabilistic_unet.py
graphs/
nb-outlier-finder.ipynb
exp_gan_gs_a[a-z]*.py

misc/images/img_example.png
