data/
__pycache__/
*.pyc
.vscode/settings.json
.idea/deepCloud.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
Code Add On.txt
prueba.csv
nb-andres.ipynb
